.container {
  margin-top: 80px; }

footer {
  background-color: #333; }

.edit-product-image {
  max-height: 100px;
  display: block; }

#mod-home .product-item {
  color: #555;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  display: block; }
  #mod-home .product-item .product-item-wrapper {
    overflow: hidden; }
    #mod-home .product-item .product-item-wrapper .product-item-image {
      transition: all .3s linear;
      height: 100%;
      background-color: #eee; }
      #mod-home .product-item .product-item-wrapper .product-item-image img {
        display: block;
        opacity: 0;
        width: 100%;
        height: auto; }
      #mod-home .product-item .product-item-wrapper .product-item-image:hover {
        transform: scale(1.25);
        transition: all .3s linear;
        opacity: 0.8; }
  #mod-home .product-item:hover {
    text-decoration: none; }
    #mod-home .product-item:hover .product-name {
      color: #7db501; }

#order-form {
  max-width: 550px;
  margin: 0px auto; }
  #order-form .form-error {
    color: red; }
  #order-form .panel-heading {
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%); }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9999; }

.form-group {
  margin-bottom: 10px; }

.btn {
  margin-bottom: 10px; }

.spacing-20 {
  padding: 10px 0; }
